.Cardown {

    width: 200px;
    height: 200px;
    text-align: center;
}

.Cardnum {

    width: 200px;
    height: 200px;
    text-align: center;
}

.yy {

    width: 200px;
    height: 200px;
    text-align: center;
}
.mm {

    width: 200px;
    height: 200px;
    text-align: center;
}
.Cardcvv {

    width: 200px;
    height: 200px;
    text-align: center;
}
/* .thank{
    text-align: center;
} */